.management_main_body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.management_main_body .plistheading{
    background-color: rgb(167, 241, 167);
    color: green;
}

.management_main_body .posts_holder{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: rgb(209, 255, 209);
}

.management_main_body .posts_holder .p_holder_scrollable{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    height: 0;
}

.management_main_body .post_item_element{
    display: flex;
    background-color: rgba(0, 194, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    word-break: break-all;
}
.management_main_body .post_item_element  .image_preview{
    width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid green;
    border-radius: 3px;
}
.management_main_body .post_item_element .btn_delete{
    background-color: red;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
    word-break: keep-all;
}